:root {
    background-color: rgb(255, 255, 255);
}
footer {
    position: fixed;
    width: 230vh;
    bottom: 0%;
    background-color: white;
    border-top: 2px solid black;
}
button {
    position: absolute;
    margin-left: 2vh;
}
div.introduction {
    position: absolute;
    width: 160vh;
    left: 30vh;
    top: 35vh;
}
div.introduction h1 {
    position: absolute;
    left: -28.15vh;
    top: -5vh;
}
div.introduction h1:hover {
    color: red;
}
div.introduction p {
    display: none;
}
div.introduction img {
    width: 150vh;
    margin-top: 10px;
    padding-left: 5vh;
    display: none;
}
.introduction h1:hover ~ .introPar {
    display: block;
}
.introduction h1:hover ~ img {
    display: block;
}
div.assignment {
    position:absolute;
    width: 170vh;
    left: 86vh;
    top: 40vh;
}
div.assignment h1 {
    position: absolute;
    left: -84.5vh;
    top: -4vh;
}
div.assignment h1:hover {
    color: red;
}
div.assignment ol {
    visibility: hidden;
}
.assignment h1:hover ~ .assList{
    visibility: visible;
}
div.portfolio {
    position: absolute;
    width: 170vh;
    left: 86vh;
    top: 40vh;
}
div.portfolio h1 {
    position: absolute;
    left: -84.5vh;
    top: 2.25vh;
}
div.portfolio h1:hover {
    color: red;
}
div.portfolio ul {
    display: none;
}
.portfolio h1:hover ~ .portList1 {
  display: block;
}
.portfolio h1:hover ~ .portList1 .portList2 {
  display: block;
}
address {
    position: absolute;
    width: 170vh;
    left: 88vh;
    top: 40vh;
}
#contactinfo {
    position: absolute;
    left: -86.29vh;
    top: 10.1vh;
}
#contactinfo:hover {
    color: red;
}
.addLink {
    display: none;
}
#contactinfo:hover ~ .addLink {
    display: inline;
}
#contactinfo:hover + address a{
    visibility: visible;
}
div.schedule {
    position: absolute;
    width: 170vh;
    left: 57vh;
    top: 35vh;
}
div.schedule h1 {
    position: absolute;
    left: -55.35vh;
    top: 18.5vh;
}
div.schedule h1:hover {
    color: red;
}
div.schedule table {
    display: none;
}
.schedule h1:hover ~ .schedTable{
    display: table;
}