:root {
    background-color: rgb(255, 255, 255);
}
footer {
    position: fixed;
    width: 230vh;
    bottom: 0%;
    background-color: white;
    border-top: 2px solid black;
}
button {
    position: absolute;
    margin-left: 2vh;
}
div.introduction {
    position: absolute;
    width: 170vh;
    left: 19vh;
    top: 35vh;
}
div.introduction h1 {
    position: absolute;
    left: -17vh;
    top: -5vh;
}
div.introduction h1:hover {
    color: red;
}
div.introduction p {
    visibility: hidden;
}
div.introduction img {
    width: 160vh;
    margin-top: 10px;
    padding-left: 5vh;
    visibility: hidden;
}
div.introduction h1:hover + div.introduction p + div.introduction img {
    visibility: visible;
}
div.assignment {
    position:absolute;
    width: 170vh;
    left: 86vh;
    top: 40vh;
}
div.assignment h1 {
    position: absolute;
    left: -84.5vh;
    top: -4vh;
}
div.assignment h1:hover {
    color: red;
}
div.assignment ol {
    visibility: hidden;
}
div.assignment h1:hover + div.assignment ol{
    visibility: visible;
}
div.portfolio {
    position: absolute;
    width: 170vh;
    left: 86vh;
    top: 40vh;
}
div.portfolio h1 {
    position: absolute;
    left: -84.5vh;
    top: 2.25vh;
}
div.portfolio h1:hover {
    color: red;
}
div.portfolio ul {
    visibility: hidden;
}
div.portfolio h1:hover + div.portfolio ul{
    visibility: visible;
}
address {
    position: absolute;
    width: 170vh;
    left: 88vh;
    top: 40vh;
}
#contactinfo {
    position: absolute;
    left: -86.29vh;
    top: 10.1vh;
}
#contactinfo:hover {
    color: red;
}
address a {
    visibility: hidden;
}
#contactinfo:hover + address a{
    visibility: visible;
}
div.schedule {
    position: absolute;
    width: 170vh;
    left: 57vh;
    top: 35vh;
}
div.schedule h1 {
    position: absolute;
    left: -55.35vh;
    top: 18.5vh;
}
div.schedule h1:hover {
    color: red;
}
div.schedule table {
    visibility: hidden;
}
div.schedule h1:hover + div.schedule table{
    visibility: visible;
}